<div class="panel panel-default">
  <div class="panel-heading"><h2>Edit User</h2></div>
  <div class="panel-body">
    <div class="form">
      <%= form_for(:admin_admin_user, :url => {:action => 'update', :id => @admin_admin_user.id}) do |f| %>
      <%= render(:partial => "form", :locals => {:f => f}) %>
      <div class="form-buttons">
        <%= button_to 'Update', edit_admin_admin_user_path(@admin_admin_user.id), method: :patch, class: 'btn btn-primary' %>
        <%= link_to 'Back', admin_admin_users_path, {:class => "btn btn-default"} %>
      </div>
      <% end %>
    </div>
  </div>
</div>