<div class="form-group">
  <label>Title</label>
  <%= f.text_field :title, class: "form-control" %>
</div>
<div class="form-group">
  <label>Slug</label>
  <%= f.text_field :slug, class: "form-control" %>
</div>
<div class="form-group">
  <label>Published</label>
  <%= f.date_field :published, class: "form-control" %>
</div>
<div class="form-group">
  <label>Content</label>
  <div id="editor"></div>
  <%= f.text_area :content, class: "form-control" %>
</div>
