<div class="panel panel-default new-post">
  <div class="panel-heading"><h2>New Post</h2></div>
  <div class="panel-body">
    <div class="form">
      <%= form_for(:post, :url => {:action => 'create'}) do |f| %>
      <%= render(:partial => "form", :locals => {:f => f}) %>
      <div class="form-buttons">
        <%= f.submit "Create", {:class => "btn btn-primary"}  %>
        <%= link_to 'Back', admin_posts_path, {:class => "btn btn-default"} %>
      </div>
      <% end %>
    </div>
  </div>
</div>
